/* -------------------- PROJECT VARIABLES -------------------- */

//FONT VARIABLES
$font-opensans: 'Open Sans', sans-serif;
$font-lato: 'Lato', sans-serif;
$font-pacifico: 'Pacifico', cursive;
$font-ptsans: 'PT Sans', sans-serif;

//COLOR VARIABLES
$clr-custom-blue: #709DCA;
$clr-custom-cyan: #71B6D5;
$clr-custom-yellow: #FFC155;



//DESIGN SECTION VARIABLES
$services-section-padd: 110px 0 120px;
$services-item-icon-color: #95E1D3;
//$services-item-icon-margin: 0 29px;
$services-item-icon-size: 31px;
$services-item-title-margin-bottom: 20px;
$services-item-title-font-size: 0.93rem;
$services-item-title-line-height: 1;
$services-item-title-color: #333;


